<h1 class="text-center text-primary font-weight-bolder">{{ title }}</h1>
<br><br>
<div class="row-1 col-12 flex">
    <div class="col-md-6 row row-1">
        <label for="urls">Service Urls:</label>

        <select id="urls" [(ngModel)]="selectedUrl">
            <option *ngFor="let url of urls" value="{{ url }}">{{ url }}</option>
        </select>
    </div>
    <div class="col-md-6 row row-1">
        <label for="version">Version:</label>

        <select id="version" [(ngModel)]="selectedVersion">
            <option value="1.0.0">1.0.0</option>
            <option value="2.0.0">2.0.0</option>
        </select>
    </div>
</div>
<div class="row-1 col-12" *ngIf="capabilitiesResponse">
    <label for="process-id">Process:</label>
    <select class="col-9" id="process-id" [(ngModel)]="processUrl">
        <option value=undefined selected disabled hidden>Select an Option</option>
        <option *ngFor="let p of processSummaries" value="{{ p.url }}">{{ p.title }}</option>
    </select>
    <!-- <input type="text" id="process-id" [(ngModel)]="selectedProcessId"> -->
</div>
<div class="container col-12">
    <div class="my-button col-md-1">
        <button type="button" class="btn btn-primary text-dark" (click)="getCapabilities()">Service Info</button>
    </div>
    <div class="my-button col-md-1">
        <button type="button" class="btn btn-warning text-dark" (click)="getProcessOffering()">Describe Process</button>
    </div>
</div>
<div class="container shadow p-3 mb-5 bg-light rounded" *ngIf="capabilitiesResponse">
    <pre>
        <code>
            <h3>Service Info:</h3>
            <b>Service:</b> {{ identification.ServiceType }}
            <b>Service Title:</b> {{ identification.Title }}
            <b>Service Description:</b> {{ identification.Abstract }}
            <b>Service Version:</b> {{ version }}
            <hr>
            <h3>Process Summaries:</h3>
            <div *ngFor="let process of processSummaries">
                <b>Title:</b> {{ process.title }}
                <b>Process Version:</b> {{ process._processVersion }}
                <b>Identifier:</b> {{ process.identifier }}
                <b>Job Control Options:</b> {{ process._jobControlOptions }}
                <b>Output Transmission:</b> {{ process._outputTransmission }}
                <hr>
            </div>
        </code>
    </pre>
</div>
