<h1 class="text-center text-primary font-weight-bolder">{{ title }}</h1>
<br><br>

<div class="row-1 col-12">
    <div class="col-md-6 row row-1">
        <label for="urls">Service Urls:</label>

        <select id="urls" [(ngModel)]="selectedUrl">
    <option *ngFor="let url of serviceUrls" value="{{ url }}">{{ url }}</option>
  </select>
    </div>
    <div class="col-md-6 row row-1">
        <label for="version">Version:</label>

        <select id="version" [(ngModel)]="selectedVersion">
            <option  value="1.0.0">1.0.0</option>
            <option  value="2.0.0">2.0.0</option>
        </select>
    </div>
</div>
<div>
    <label for="process-id">Process Identifier:</label>
    <input type="text" id="process-id" [(ngModel)]="selectedProcessId">
</div>
<!-- <input type="text" [(ngModel)]="capabilitiesResponse"> -->
<div class=" container col-12">
    <div class="my-button col-md-1">
        <button type="button" class="btn btn-primary text-dark" (click)="call_getCapabilities()">Service Info</button>
    </div>
    <div class="my-button col-md-1">
        <button type="button" class="btn btn-warning text-dark" (click)="call_DescribeProcess()">Describe Process</button>
    </div>
</div>
<div class="container shadow p-3 mb-5 bg-light rounded" *ngIf="capabilitiesResponse">
    <pre>
        <code>
            <h3>Service Info:</h3>
            <b>Service:</b> {{ capabilitiesResponse.service }}
            <b>Service Title:</b> {{ capabilitiesResponse.title }}
            <b>Service Version:</b> {{ capabilitiesResponse.version }}
            <hr>
            <h3>Process Summaries:</h3>
            <div *ngFor="let process of capabilitiesResponse.processes;">
                <b>Title:</b> {{ process.title }}
                <b>Process Version:</b> {{ process.processVersion }}
                <b>Identifier:</b> {{ process.identifier }}
                <b>Job Control Options:</b> {{ process.jobControlOptions }}
                <b>Output Transmission:</b> {{ process.outputTransmission }}
                <hr>
            </div>
        </code>
    </pre>
</div>

<!-- <div class="col-md-12">
    <input type="text" class="col-md-12" [(ngModel)]="selectedUrl">
</div> -->